{{#partial "contenido"}}
	{{#with terminal}}
	
	<form action="/terminales/{{id}}/acciones" method="POST">
		
		<div class="form-group">
			<label for="nombre">Terminal:  </label>
			<label for="nomTerminal">{{nombre}}</label>
		</div>

		<div class="form-group">
			<label for="comuna">Comuna:  </label>
			<label for="comTerminal">{{comuna.nombre}}</label>
		</div>


		{{#each observersBusqueda}}
			<div class="form-group">
				<input type="checkbox" name={{parametrizarAccion this}} checked>{{mostrarAccion this}}
			</div>
		{{/each}}

		{{#with observersFaltantes}}
		{{#each observersFaltantes}}
			<div class="form-group">
				<input type="checkbox" name={{parametrizarAccion this}} unchecked>{{mostrarAccion this}}
			</div>
		{{/each}}
		{{/with}}

				
		<table><tr>
		<input class="btn btn-primary btn-lg" type="submit" value="Guardar" style="height:40px; width:100px"></tr>
		<tr><input class="btn btn-default btn-lg" onClick="parent.location='/terminales'" value="Cancelar" style="height:40px; width:110px"></tr>
		</table>
	</form>
	{{/with}}
{{/partial}}

{{>layoutAdmin.hbs}}