{{#partial "contenido"}}
<h1>POIS</h1>
<form action="/pois" method="GET">
		<table><tr> <td>
		<div class="form-group">
			<label for="criterio">Nombre</label>
			<input type="text" placeholder="Nombre" name="criterio">
		</div>
		</td></tr>
		<tr> <td>
		<div class="form-group">
			<label for="tipos">Tipos</label>
			<select name="tipos">
				<option value="">Todos</option>
  				<option value="Banco">Banco</option>
  				<option value="CGP">CGP</option>
  				<option value="LocalComercial">Local Comercial</option>
  				<option value="ParadaColectivo">Parada de Colectivo</option>
			</select>
		</div>
		</td>
		</tr>
		<tr align="center">
		<td>
		<table> 
		<tr ><input class="btn btn-primary" type="submit" value="Buscar"></tr>
		</table>
		</td>
		</tr>
	</form>
</div>
</table>
<p class=”breakAfter”> </p>
<table class="table table-stripped">

		<th>Nombre</th>
		<th>Direccion</th>
		<th>Longitud</th>
    	<th>Latitud</th>
		<th> </th>
		<th> </th>
		<th> </th>
	{{#each pois}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{mostrarDir direccion}}</td>
			<td>{{mostrarCoord x}}</td>
      		<td>{{mostrarCoord y}}</td>
			<td><a href="/pois/{{id}}">Ver</a></td>
			<td><a href="/pois/{{id}}/modificar">Editar</a></td>
			<td><a href="/pois/{{id}}/eliminar">Eliminar</a></td>
		</tr>
	{{/each}}
</table>
{{/partial}}

{{>layoutAdmin.hbs}}
