{{#partial "contenido"}}
<h1>POIS</h1>
<form action="/pois" method="GET">

		<div class="form-group">
			<label for="criterio">Nombre</label>
			<input type="text" placeholder="Nombre" name="criterio">
		</div>
		<input class="btn btn-primary btn-lg" type="submit" value="Filtrar">
	</form>
</div>

<table class="table table-stripped">
	<tr>
		<th>Nombre</th>
		<th>Direccion</th>
		<th>Posicion X</th>
    <th>Posicion Y</th>
		<th></th>
	</tr>

	{{#each pois}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{mostrarDir direccion}}</td>
			<td>{{x}}</td>
      <td>{{y}}</td>
			<td><a href="{{url}}">Ver</a><td>
		</tr>
	{{/each}}
</table>
{{/partial}}

{{>layoutTerminal.hbs}}
