{{#partial "contenido"}}
<h1>POIS</h1>
<form action="/pois" method="GET">

		<div class="form-group">
			<label for="criterio">Nombre</label>
			<input type="text" placeholder="Nombre" name="criterio">
		</div>
		<div class="form-group">
			<label for="tipos">Tipos</label>
			<select name="tipos">
			<option value="">Todos</option>
  			<option value="Banco">Banco</option>
  			<option value="CGP">CGP</option>
  				<option value="LocalComercial">Local Comercial</option>
  				<option value="ParadaColectivo">Parada de Colectivo</option>
			</select>
		</div>
		<table> 
		<tr><input class="btn btn-primary btn-lg" type="submit" value="Buscar"></tr>
		</table>
	</form>
</div>

<table class="table table-stripped">
	<tr>
		<th>Nombre</th>
		<th>Direccion</th>
		<th>Longitud</th>
    	<th>Latitud</th>
	</tr>

	{{#each pois}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{mostrarDir direccion}}</td>
			<td>{{mostrarCoord x}}</td>
      <td>{{mostrarCoord y}}</td>
			<td><a href="/pois/{{id}}">Ver</a><td>
			<td><a href="/pois/modificar/{{id}}">Editar</a><td>
			<td><a href="/pois/eliminar/{{id}}">Eliminar</a><td>
		</tr>
	{{/each}}
</table>
{{/partial}}

{{>layoutAdmin.hbs}}
